* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
}
header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header h1 {
    font-size: 190px;
}
p {
    top: 20px;
    right: 20px;
    position: absolute;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

#menu {
    position: fixed;
    background: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transform: translateX(-100%) rotate(-180deg);
    transition: transform .5s;
}
#close {
    opacity: 0;
    transition: 2s;
}
#open {
   opacity: 1;
}
#menu h1 {
    animation: spin 0.5s linear infinite;
}
@keyframes spin {
    0% {
      text-shadow: -4px -4px 0 #0ff, 4px 4px 0 #f00;  
    }
    25% {
      text-shadow: 4px 4px 0 #0ff, -4px -4px 0 #f00;  
    }
    50% {
      text-shadow: -4px 4px 0 #0ff, 4px -4px 0 #f00;  
    }
    75% {
      text-shadow: 4px -4px 0 #0ff, -4px 4px 0 #f00;  
    }
}
@media screen and (max-width: 699px) {
    #menu h1, .block h1 {
        font-size: 60px;
    }
}