body {
  font-family: sans-serif;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  color: #272727;
  font-size: 25px;
}
.game {
  text-align: center;
  margin-top: 150px;
}
p {
  color: #2ca368;
}
input {
  border: none;
  border-bottom: 1px solid #000;
  margin-left: 10px;
  outline: none;
}
button {
  border: none;
  padding: 10px 20px;
  margin-top: 70px;
  cursor: pointer;
  background: #eabf0c;
  color: #2f2f2f;
  outline: none;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 100px;
}
button:hover {
  background: #c4b60f;
}
span {
  color: #4134a7;
}