* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: 'PT Serif', serif;
}
.proloader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #fff;
}
.windows8 {
  position: relative;
  width: 78px;
  height: 78px;
  margin: auto;
}
.windows8 .wBall {
  position: absolute;
  width: 74px;
  height: 74px;
  opacity: 0;
  transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  animation: orbit 6.96s infinite;
  -o-animation: orbit 6.96s infinite;
  -ms-animation: orbit 6.96s infinite;
  -webkit-animation: orbit 6.96s infinite;
  -moz-animation: orbit 6.96s infinite;
}
.windows8 .wBall .wInnerBall {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #000000;
  left: 0px;
  top: 0px;
  border-radius: 10px;
}
.windows8 #wBall_1 {
  animation-delay: 1.52s;
  -o-animation-delay: 1.52s;
  -ms-animation-delay: 1.52s;
  -webkit-animation-delay: 1.52s;
  -moz-animation-delay: 1.52s;
}
.windows8 #wBall_2 {
  animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
}
.windows8 #wBall_3 {
  animation-delay: 0.61s;
  -o-animation-delay: 0.61s;
  -ms-animation-delay: 0.61s;
  -webkit-animation-delay: 0.61s;
  -moz-animation-delay: 0.61s;
}
.windows8 #wBall_4 {
  animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
  -ms-animation-delay: 0.91s;
  -webkit-animation-delay: 0.91s;
  -moz-animation-delay: 0.91s;
}
.windows8 #wBall_5 {
  animation-delay: 1.22s;
  -o-animation-delay: 1.22s;
  -ms-animation-delay: 1.22s;
  -webkit-animation-delay: 1.22s;
  -moz-animation-delay: 1.22s;
}
@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    transform: rotate(180deg);
    animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    transform: rotate(300deg);
    animation-timing-function: linear;
    origin: 0%;
  }
  30% {
    opacity: 1;
    transform: rotate(410deg);
    animation-timing-function: ease-in-out;
    origin: 7%;
  }
  39% {
    opacity: 1;
    transform: rotate(645deg);
    animation-timing-function: linear;
    origin: 30%;
  }
  70% {
    opacity: 1;
    transform: rotate(770deg);
    animation-timing-function: ease-out;
    origin: 39%;
  }
  75% {
    opacity: 1;
    transform: rotate(900deg);
    animation-timing-function: ease-out;
    origin: 70%;
  }
  76% {
    opacity: 0;
    transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    transform: rotate(900deg);
  }
}
@-o-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -o-transform: rotate(180deg);
    -o-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -o-transform: rotate(300deg);
    -o-animation-timing-function: linear;
    -o-origin: 0%;
  }
  30% {
    opacity: 1;
    -o-transform: rotate(410deg);
    -o-animation-timing-function: ease-in-out;
    -o-origin: 7%;
  }
  39% {
    opacity: 1;
    -o-transform: rotate(645deg);
    -o-animation-timing-function: linear;
    -o-origin: 30%;
  }
  70% {
    opacity: 1;
    -o-transform: rotate(770deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 39%;
  }
  75% {
    opacity: 1;
    -o-transform: rotate(900deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 70%;
  }
  76% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }
}
@-ms-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -ms-transform: rotate(180deg);
    -ms-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -ms-transform: rotate(300deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 0%;
  }
  30% {
    opacity: 1;
    -ms-transform: rotate(410deg);
    -ms-animation-timing-function: ease-in-out;
    -ms-origin: 7%;
  }
  39% {
    opacity: 1;
    -ms-transform: rotate(645deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 30%;
  }
  70% {
    opacity: 1;
    -ms-transform: rotate(770deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 39%;
  }
  75% {
    opacity: 1;
    -ms-transform: rotate(900deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 70%;
  }
  76% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }
}
@-webkit-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 0%;
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin: 7%;
  }
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 30%;
  }
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 39%;
  }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 70%;
  }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
}
@-moz-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -moz-transform: rotate(180deg);
    -moz-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -moz-transform: rotate(300deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 0%;
  }
  30% {
    opacity: 1;
    -moz-transform: rotate(410deg);
    -moz-animation-timing-function: ease-in-out;
    -moz-origin: 7%;
  }
  39% {
    opacity: 1;
    -moz-transform: rotate(645deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 30%;
  }
  70% {
    opacity: 1;
    -moz-transform: rotate(770deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 39%;
  }
  75% {
    opacity: 1;
    -moz-transform: rotate(900deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 70%;
  }
  76% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }
}
a {
  text-decoration: none;
}
#block-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #061e37;
  z-index: 99;
  transform: translateX(-200%);
  transition: 0.5s;
}
#block-menu #close {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
#block-menu ul {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}
#block-menu ul li {
  margin: 20px 0;
}
#block-menu ul li a {
  color: #fff;
  font-size: 25px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease-in-out;
}
#block-menu ul li a:hover {
  border-bottom: 2px solid #fff;
}
header {
  background: url(../img/bg.jpg) no-repeat center top / cover;
  height: 100vh;
  width: 100%;
  color: #fff;
}
.container {
  width: 75%;
  margin: 0 auto;
}
.heading {
  width: 75%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading .logo {
  cursor: pointer;
}
.headhesive {
  background: #061e37;
  width: 100%;
  height: 70px;
  padding: 0 100px;
  position: fixed;
  transform: translateY(-100%);
  z-index: 2;
  transition: 0.5s ease-in-out;
}
.headhesive--stick {
  transform: translateY(0%);
}
.bars {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
.title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10rem;
}
.title h1 {
  font-size: 45px;
}
.title p {
  font-size: 14px;
  margin: 30px 0 45px 0;
}
.title button {
  padding: 20px 30px;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.4s ease;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.title .btn-dark {
  background: #061e37;
  color: #fff;
}
.title .btn-dark:hover {
  background: #fafcff;
  color: #000;
}
.title .btn-light {
  background: #fafcff;
  color: #000;
}
.title .btn-light:hover {
  background: #061e37;
  color: #fff;
}
.titles {
  text-align: center;
  padding: 100px 0;
}
.titles h1 {
  color: #061e37;
  font-size: 45px;
}
.titles p {
  color: #b0bec5;
  font-size: 15px;
  margin-top: 30px;
}
.container-block {
  width: 70%;
  margin: 0 auto;
}
.slider {
  margin-bottom: 170px;
}
.slider-card {
  width: 315px;
  text-align: center;
  margin: 0 auto;
}
.slider-card h3 {
  color: #061e37;
  font-size: 20px;
  margin: 15px 0;
}
.slider-card p {
  color: #686767;
  font-size: 16px;
}
.slider img {
  display: block;
  margin: 0 auto;
}
.btn-block {
  display: flex;
  margin: 0 auto;
}
.btn-block .btn {
  width: 370px;
  height: 70px;
  background: #ccc;
  margin: 1px;
  cursor: pointer;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}
.btn-block .btn i {
  margin-right: 10px;
}
.btn-block .btn-1 {
  background: #80d8ff;
}
.btn-block .btn-2 {
  background: #82b1ff;
}
.btn-block .btn-3 {
  background: #b388ff;
}
.btn-block .btn-4 {
  background: #ea80fc;
}
.card__item {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
}
.card__item .cards {
  width: 320px;
  height: 410px;
  margin: 20px auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__item .cards h4 {
  color: #041527;
  font-size: 25px;
}
.card__item .cards p {
  color: #063568;
  font-size: 20px;
  line-height: 45px;
}
.card__item .cards a {
  display: block;
  padding: 15px 0;
  width: 170px;
  margin: 0 auto;
  color: #000;
  margin-top: 20px;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.4s ease;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.card__item .cards1 {
  border: 2px solid #80d8ff;
}
.card__item .cards1 a {
  border: 2px solid #80d8ff;
}
.card__item .cards1 a:hover {
  background: #80d8ff;
  color: #fff;
}
.card__item .cards2 {
  border: 2px solid #82b1ff;
}
.card__item .cards2 a {
  border: 2px solid #82b1ff;
}
.card__item .cards2 a:hover {
  background: #82b1ff;
  color: #fff;
}
.card__item .cards3 {
  border: 2px solid #b388ff;
}
.card__item .cards3 a {
  border: 2px solid #b388ff;
}
.card__item .cards3 a:hover {
  background: #b388ff;
  color: #fff;
}
.card__item .cards4 {
  border: 2px solid #ea80fc;
}
.card__item .cards4 a {
  border: 2px solid #ea80fc;
}
.card__item .cards4 a:hover {
  background: #ea80fc;
  color: #fff;
}
footer {
  background: #061e37;
  height: 200px;
  margin-top: 100px;
  color: #fff;
  padding: 35px 0;
}
footer .menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .menu .footer-text p {
  text-align: center;
}
footer .menu .social-icon i {
  margin: 0 10px;
  cursor: pointer;
}
footer .footer-menu {
  display: flex;
  justify-content: space-between;
}
.arrow {
  border: none;
  background: transparent;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
}
.prev {
  left: -1rem;
}
.next {
  right: -1rem;
}
