@media screen and (max-width: 1300px) {
  .card__item .cards {
    width: 270px;
    height: 370px;
    margin: 10px auto;
  }
  .card__item .cards h4 {
    font-size: 20px;
  }
  .card__item .cards p {
    font-size: 16px;
    line-height: 40px;
  }
  .card__item .cards a {
    display: block;
    padding: 10px 0;
    width: 150px;
    font-size: 12px;
  }
}
@media screen and (max-width: 1099px) {
  .btn-block {
    flex-direction: column;
    align-items: center;
  }
  .card__item {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 769px) {
  .card__item {
    grid-template-columns: auto;
  }
  .btn-block .btn {
    width: 270px;
    height: 70px;
  }
  .container-block {
    width: 100%;
  }
  .slider-card {
    width: 215px;
  }
  .prev {
    left: 0.2rem;
  }
  .next {
    right: 0.2rem;
  }
}
@media screen and (max-width: 499px) {
  .headhesive {
    height: 70px;
    padding: 0 35px;
  }
  .title {
    padding: 0 10px;
  }
  .title h1 {
    font-size: 35px;
  }
  .title p {
    font-size: 15px;
  }
  .title button {
    padding: 15px 25px;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.4s ease;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  }
  .titles h1 {
    font-size: 35px;
  }
  .titles p {
    font-size: 15px;
  }
}
@media screen and (max-width: 399px) {
  .card__item .cards {
    width: 210px;
    height: 310px;
    margin: 10px auto;
  }
  .card__item .cards p {
    line-height: 30px;
  }
  .title {
    padding: 0 10px;
  }
  .title h1 {
    font-size: 25px;
  }
  .title p {
    font-size: 14px;
  }
  .title button {
    display: block;
    width: 150px;
    margin: 10px auto;
  }
  .titles h1 {
    font-size: 25px;
  }
  .titles p {
    font-size: 14px;
  }
  .btn-block .btn {
    width: 200px;
    height: 50px;
    line-height: 50px;
    padding: 5px;
    font-size: 15px;
  }
  footer .footer-menu {
    flex-direction: column;
    align-items: center;
  }
  footer .footer-menu .social-icon {
    margin: 20px 0;
  }
  #block-menu #close {
    font-size: 25px;
  }
  #block-menu ul li a {
    font-size: 15px;
  }
  .headhesive {
    height: 60px;
    padding: 0 25px;
  }
}
@media screen and (max-width: 269px) {
  .title h1 {
    font-size: 20px;
  }
  .heading .logo img,
  .headhesive .logo img {
    width: 110px;
  }
  .heading .bars,
  .headhesive .bars {
    font-size: 25px;
  }
  .card__item .cards {
    width: 175px;
    height: 310px;
    margin: 10px auto;
  }
  .card__item .cards p {
    line-height: 30px;
    font-size: 14px;
  }
  .slider-block .slider-card h3 {
    font-size: 16px;
  }
  .slider-block .slider-card p {
    font-size: 14px;
  }
  .arrow {
    font-size: 20px;
  }
}
